@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.scores {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    background-image: url(assests/coder-bg.jpg);
    color: white;
    top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Fredoka', sans-serif;
    z-index: 20;
}

.scores span {
    font-size: 5em;
    line-height: 80px;
    text-shadow: 0 0 10px rgb(32 25 69), 0 0 50px #28125b;
}

@keyframes animateText {
    0%,100%
    {
        transform: translateY(-20px);
    }
    50%
    {
        transform: translateY(20px);
    }
}



#play-again {
    position: relative;
    background-color: #382007;
    color: white;
    top: 50px;
    width: 175px;
    height: 75px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgb(170,41,253),
    0 0 50px rgb(170,41,253);
    cursor: pointer;
}

#play-again p {
    font-size: 2em;
    padding: 17px;
    padding-left: 22px;
    text-shadow: none;
}

@media screen and (max-width: 700px){
    .scores span{
        font-size: 4em;
    }
}

@media screen and (max-width: 530px){
    .scores span {
        font-size: 2.5em;
        line-height: 50px;
    }

    #play-again p {
        top: 13px;
        left: 10px;
    }
}

@media screen and (max-width: 350px){
    .scores span {
        font-size: 2em;
        line-height: 25px;
    }

    #play-again{
        width: 100px;
        height: 50px;
    }
    #play-again p {
        font-size: 1em;
        padding: 15px;
        /* padding-left: 22px; */
        text-shadow: none;
    }
}