@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    
    background-image: url(./assests/game-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spider {
    position: absolute;
    filter: invert(10%);
    top: -300px;
    animation: spiderman 5s ease-in infinite;
    scale: 0.5;
}

@keyframes spiderman {
    0%
    {
        transform: translateX(-1500px);
    }
    100%
    {
        transform: translateX(3980px);
    }
}

.pumpkin01 {
    position: absolute;
    top: 100px;
    right: 200px;
    animation: animatePumpkin 8s ease-in-out infinite;
    scale: 0.7;
}

.pumpkin02 {
    position: absolute;
    bottom: 20px;
    left: 50px;
    animation: animatePumpkin 4s ease-in-out infinite;
    scale: 0.5;
}

@keyframes animatePumpkin {
    0%,100%
    {
        transform: translateY(-50px);
    }
    50%
    {
        transform: translateY(50px);
    }
}

.spiderWeb {
    z-index: 2;
}

.scores {
    color: #1f07e7cf;;
    position: absolute;
    top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Fruktur';
    animation: animateText 5s ease-in-out infinite;
    z-index: 20;
}

.scores span {
    font-size: 5em;
    line-height: 70px;
    text-shadow: 0 0 10px #e07400,
    0 0 50px #e07400;
}

@keyframes animateText {
    0%,100%
    {
        transform: translateY(-20px);
    }
    50%
    {
        transform: translateY(20px);
    }
}

#play-again {
    position: relative;
    background-color: #382007;
    color: #e07400;
    top: 150px;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(255, 136, 0, 0.8),
    0 0 50px rgba(255, 136, 0, 0.8);
    cursor: pointer;
}

#play-again p {
    position: relative;
    top: 15px;
    left: 7px;
    font-size: 1.1em;
    text-shadow: none;
}

@media screen and (max-width: 530px){
    .scores span {
        font-size: 2.5em;
        line-height: 25px;
    }
    #play-again p {
        font-size: 1em;
        top: 13px;
        left: 10px;
    }
    .pumpkin01{
        scale: 0.5;
        top: 10px;
    }
    .pumpkin02{
        scale: 0.4;
        bottom: -60px;
    }
}