@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    font-family: 'Bubblegum Sans', sans-serif;
    background-image: url(assests/front-page-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100wh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.modes{
    /* margin: 40px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;

}

.innermode{
    height: 570px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: 5px solid rgb(253,48,226);
    margin-bottom: 30px;
}

img{
    height: 300px;
    width: 300px;
}

h1{
    font-size: 40px;
}

.heading{
    font-size: 100px;
    margin: 40px;
}

#zombiePlay, #gamePlay, #naturePlay, #coderPlay, h1{
    margin: 50px;
}

/* 
#coder{
    background-image: url("assests/coder.jpg");
    background: rgba( 255, 255, 255, 0.2 );
    backdrop-filter: blur( 6px );
}

#zombie{
    background-image: url("assests/zombie.jpg");
    background: rgba( 255, 255, 255, 0.2 );
    backdrop-filter: blur( 6px );
}

#game{
    background-image: url("assests/game.png");
    background: rgba( 255, 255, 255, 0.2 );
    backdrop-filter: blur( 6px );
}

#nature{
    background-image: url("assests/nature.jpg");
    background: rgba( 255, 255, 255, 0.2 );
    backdrop-filter: blur( 6px );
} */

/* background image of modes */
#coder{
    background-image: url("./assests/coder-mode-bg.jpg");
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}

#zombie{
    background-image: url("./assests/zombie-mode-bg.jpg");
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}

#game{
    background-image: url("./assests/game-mode-bg.png");
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}

#nature{
    background-image: url("./assests/nanture-mode-bg.png");
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}