@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
    
.scores {width: 100%;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    font-family: "Nosifer", sans-serif;
    top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 20;
    background-size: cover;
    background-image: url(./assests/nanture-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #1f07e7cf;

}

.scores span {
    font-size: 5em;
    line-height: 70px;
    text-shadow: 0 0 5px #d7d7cb, 0 0 50px rgb(27 34 46 / 11%);
}

@keyframes animateText {
    0%,100%
    {
        transform: translateY(-20px);
    }
    50%
    {
        transform: translateY(20px);
    }
}

#play-again {
    position: relative;
    background-color: #1f07e7cf;
    color: white;
    top: 50px;
    width: 175px;
    height: 70px;
    border-radius: 50px;
    cursor: pointer;
}

#play-again p {
    font-size: 1.5em;
    text-shadow: none;
    padding: 20px;
    padding-left: 30px;
}

@media screen and (max-width: 1000px){
    .scores span{
        font-size: 3.5em;
    }
    
    #play-again p {
        padding: 18px;
        padding-left: 23px;
    }
    
    #play-again {
        width: 125px;
        height: 55px;
    }
}

@media screen and (max-width: 700px){
    .scores span{
        font-size: 2.5em;
        line-height: 60px;
    }
}

@media screen and (max-width: 530px){
    .scores span {
        font-size: 2em;
        line-height: 45px;
    }

    #play-again p {
        font-size: 1em;
        padding: 19px;
        padding-left: 24px;
    }
}

@media screen and (max-width: 420px){
    .scores span {
        font-size: 1.5em;
        line-height: 25px;
    }

    #play-again p {
        padding: 20px;
        padding-left: 25px;
    }
}