@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

 body{
    font-family: "Nosifer", sans-serif;
}

.scores {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    font-family: "Nosifer", sans-serif;
    background-image: url(./assests/zombie-gameove-bg.jpg);
    color: red;
    background-repeat: no-repeat;
    top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 20;
    background-size: cover;
}

.scores span {
    font-size: 4em;
    line-height: 80px;
    text-shadow: 0 0 10px rgb(28 2 2), 0 0 500px #3a3a3a;
}

@keyframes animateText {
    0%,100%
    {
        transform: translateY(-20px);
    }
    50%
    {
        transform: translateY(20px);
    }
}

#play-again {
    position: relative;
    background-color: red;
    color: white;
    top: 50px;
    width: 175px;
    height: 70px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(255, 136, 0, 0.8),
    0 0 50px rgba(255, 136, 0, 0.8);
    cursor: pointer;
}

#play-again p {
    font-size: 1.4em;
    padding: 17px;
    padding-left: 18px;
    text-shadow: none;
}

@media screen and (max-width: 1000px){
    .scores span{
        font-size: 3em;
    }
}

@media screen and (max-width: 700px){
    .scores span{
        font-size: 2.5em;
    }
}

@media screen and (max-width: 530px){
    .scores span {
        font-size: 2em;
        line-height: 50px;
    }

    #play-again p {
        top: 13px;
        left: 10px;
    }
}

@media screen and (max-width: 420px){
    .scores span {
        font-size: 1.5em;
        line-height: 25px;
    }

    #play-again{
        width: 125px;
        height: 55px;
    }
    #play-again p {
        font-size: 1em;
        padding: 15px;
        padding-left: 14px;
        text-shadow: none;
    }
}